			body{
				background-color:Violet;
				text-align:center;
				Font-size:30px;
				Color:Yellow;
			}
			Nav{		
				padding:10px;
				margin:10px;
			}
			Header{
				text-align:center;
				font-size:100px;
				font-style:italic;
				font-family:Lobster;
				color:Purple;
			}
			sub{
				font-size:40px;
			}
			.pic-sub{
				display:inline-block;
				padding:60px;
				Margin:10px;
			}
			span{
				text-align:center;
				Color:Purple;
			}
			Footer{
				Font-family:Comic Sans MS;
				Font-size:20px;
				Color:Purple;
			}
			ul{
				color:Purple;
			}
			ul li a{
				color:Purple;
				text-decoration:none;
				Font-size:40px;
				Padding:30px;
				Margin:50px;
			}
			li{
				display:Inline-block;
			}
			Div{
				color:Purple;
			}